@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  --color-background: oklch(0.9702 0 0);
  --color-primary: oklch(0.6697 0.1807 43.31);
  --color-header: oklch(0.3329 0 0);
  --color-muted: oklch(0.556 0 0);
  --color-foreground: oklch(0.145 0 0);
  --radius: 10px;
  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {

  body {
    font-family: var(--font-sans);
    @apply bg-[--color-background] text-[--color-foreground];
  }
}


